@media screen and (max-width: 600px) { 
	.block-expand .rm-caret {
		font-size: 24px;
		height: 24px!important;
	}	
	
	.block-expand {
			display: block;
			float: right;
			right: -16px;
			position: absolute;
	}
	
	.roam-article {
		padding-left: 16px!important;
		padding-right: 32px!important;
	}
	
	.rm-block--closed:has(.rm-bullet.rm-bullet--closed) > .rm-block-main.rm-block__self .rm-caret.rm-caret-hidden,
	.roam-block-container:has(.rm-block-children > .roam-block-container) > .rm-block-main.rm-block__self .rm-caret.rm-caret-hidden {
		opacity: 1;
	}
	.rm-bullet, .rm-bullet.rm-bullet--closed {
		margin-left: 16px;
	}
}