@charset "UTF-8";
:root {
  --cl-black: #000;
  --cl-white: #fff;
  --cl-rose-50: #fff1f2;
  --cl-rose-100: #ffe4e6;
  --cl-rose-200: #fecdd3;
  --cl-rose-300: #fda4af;
  --cl-rose-400: #fb7185;
  --cl-rose-500: #f43f5e;
  --cl-rose-600: #e11d48;
  --cl-rose-700: #be123c;
  --cl-rose-800: #9f1239;
  --cl-rose-900: #881337;
  --cl-pink-50: #fdf2f8;
  --cl-pink-100: #fce7f3;
  --cl-pink-200: #fbcfe8;
  --cl-pink-300: #f9a8d4;
  --cl-pink-400: #f472b6;
  --cl-pink-500: #ec4899;
  --cl-pink-600: #db2777;
  --cl-pink-700: #be185d;
  --cl-pink-800: #9d174d;
  --cl-pink-900: #831843;
  --cl-fuchsia-50: #fdf4ff;
  --cl-fuchsia-100: #fae8ff;
  --cl-fuchsia-200: #f5d0fe;
  --cl-fuchsia-300: #f0abfc;
  --cl-fuchsia-400: #e879f9;
  --cl-fuchsia-500: #d946ef;
  --cl-fuchsia-600: #c026d3;
  --cl-fuchsia-700: #a21caf;
  --cl-fuchsia-800: #86198f;
  --cl-fuchsia-900: #701a75;
  --cl-purple-50: #faf5ff;
  --cl-purple-100: #f3e8ff;
  --cl-purple-200: #e9d5ff;
  --cl-purple-300: #d8b4fe;
  --cl-purple-400: #c084fc;
  --cl-purple-500: #a855f7;
  --cl-purple-600: #9333ea;
  --cl-purple-700: #7e22ce;
  --cl-purple-800: #6b21a8;
  --cl-purple-900: #581c87;
  --cl-violet-50: #f5f3ff;
  --cl-violet-100: #ede9fe;
  --cl-violet-200: #ddd6fe;
  --cl-violet-300: #c4b5fd;
  --cl-violet-400: #a78bfa;
  --cl-violet-500: #8b5cf6;
  --cl-violet-600: #7c3aed;
  --cl-violet-700: #6d28d9;
  --cl-violet-800: #5b21b6;
  --cl-violet-900: #4c1d95;
  --cl-indigo-50: #eef2ff;
  --cl-indigo-100: #e0e7ff;
  --cl-indigo-200: #c7d2fe;
  --cl-indigo-300: #a5b4fc;
  --cl-indigo-400: #818cf8;
  --cl-indigo-500: #6366f1;
  --cl-indigo-600: #4f46e5;
  --cl-indigo-700: #4338ca;
  --cl-indigo-800: #3730a3;
  --cl-indigo-900: #312e81;
  --cl-blue-50: hsl(211,100%,5%);
  --cl-blue-100: hsl(211,100%,10%);
  --cl-blue-200: hsl(211,100%,20%);
  --cl-blue-300: hsl(211,100%,30%);
  --cl-blue-400: hsl(211,100%,40%);
  --cl-blue-500: hsl(211,100%,50%);
  --cl-blue-600: hsl(211,100%,60%);
  --cl-blue-700: hsl(211,100%,70%);
  --cl-blue-800: hsl(211,100%,80%);
  --cl-blue-900: hsl(211,100%,90%);
  --cl-sky-50: #f0f9ff;
  --cl-sky-100: #e0f2fe;
  --cl-sky-200: #bae6fd;
  --cl-sky-300: #7dd3fc;
  --cl-sky-400: #38bdf8;
  --cl-sky-500: #0ea5e9;
  --cl-sky-600: #0284c7;
  --cl-sky-700: #0369a1;
  --cl-sky-800: #075985;
  --cl-sky-900: #0c4a6e;
  --cl-cyan-50: #ecfeff;
  --cl-cyan-100: #cffafe;
  --cl-cyan-200: #a5f3fc;
  --cl-cyan-300: #67e8f9;
  --cl-cyan-400: #22d3ee;
  --cl-cyan-500: #06b6d4;
  --cl-cyan-600: #0891b2;
  --cl-cyan-700: #0e7490;
  --cl-cyan-800: #155e75;
  --cl-cyan-900: #164e63;
  --cl-teal-50: #f0fdfa;
  --cl-teal-100: #ccfbf1;
  --cl-teal-200: #99f6e4;
  --cl-teal-300: #5eead4;
  --cl-teal-400: #2dd4bf;
  --cl-teal-500: #14b8a6;
  --cl-teal-600: #0d9488;
  --cl-teal-700: #0f766e;
  --cl-teal-800: #115e59;
  --cl-teal-900: #134e4a;
  --cl-emerald-50: #ecfdf5;
  --cl-emerald-100: #d1fae5;
  --cl-emerald-200: #a7f3d0;
  --cl-emerald-300: #6ee7b7;
  --cl-emerald-400: #34d399;
  --cl-emerald-500: #10b981;
  --cl-emerald-600: #059669;
  --cl-emerald-700: #047857;
  --cl-emerald-800: #065f46;
  --cl-emerald-900: #064e3b;
  --cl-green-50: #f0fdf4;
  --cl-green-100: #dcfce7;
  --cl-green-200: #bbf7d0;
  --cl-green-300: #86efac;
  --cl-green-400: #4ade80;
  --cl-green-500: #22c55e;
  --cl-green-600: #16a34a;
  --cl-green-700: #15803d;
  --cl-green-800: #166534;
  --cl-green-900: #14532d;
  --cl-lime-50: #f7fee7;
  --cl-lime-100: #ecfccb;
  --cl-lime-200: #d9f99d;
  --cl-lime-300: #bef264;
  --cl-lime-400: #a3e635;
  --cl-lime-500: #84cc16;
  --cl-lime-600: #65a30d;
  --cl-lime-700: #4d7c0f;
  --cl-lime-800: #3f6212;
  --cl-lime-900: #365314;
  --cl-yellow-50: #fefce8;
  --cl-yellow-100: #fef9c3;
  --cl-yellow-200: #fef08a;
  --cl-yellow-300: #fde047;
  --cl-yellow-400: #facc15;
  --cl-yellow-500: #eab308;
  --cl-yellow-600: #ca8a04;
  --cl-yellow-700: #a16207;
  --cl-yellow-800: #854d0e;
  --cl-yellow-900: #713f12;
  --cl-amber-50: #fffbeb;
  --cl-amber-100: #fef3c7;
  --cl-amber-200: #fde68a;
  --cl-amber-300: #fcd34d;
  --cl-amber-400: #fbbf24;
  --cl-amber-500: #f59e0b;
  --cl-amber-600: #d97706;
  --cl-amber-700: #b45309;
  --cl-amber-800: #92400e;
  --cl-amber-900: #78350f;
  --cl-orange-50: #fff7ed;
  --cl-orange-100: #ffedd5;
  --cl-orange-200: #fed7aa;
  --cl-orange-300: #fdba74;
  --cl-orange-400: #fb923c;
  --cl-orange-500: #f97316;
  --cl-orange-600: #ea580c;
  --cl-orange-700: #c2410c;
  --cl-orange-800: #9a3412;
  --cl-orange-900: #7c2d12;
  --cl-red-50: #fef2f2;
  --cl-red-100: #fee2e2;
  --cl-red-200: #fecaca;
  --cl-red-300: #fca5a5;
  --cl-red-400: #f87171;
  --cl-red-500: #ef4444;
  --cl-red-600: #dc2626;
  --cl-red-700: #b91c1c;
  --cl-red-800: #991b1b;
  --cl-red-900: #7f1d1d;
  --cl-gray-50: hsl(240,2%,12%);
  --cl-gray-100: hsl(240,2%,17%);
  --cl-gray-200: hsl(240,2%,27%);
  --cl-gray-300: hsl(240,2%,37%);
  --cl-gray-400: hsl(240,2%,47%);
  --cl-gray-500: hsl(240,2%,57%);
  --cl-gray-600: hsl(240,2%,67%);
  --cl-gray-700: hsl(240,2%,77%);
  --cl-gray-800: hsl(240,2%,87%);
  --cl-gray-900: hsl(240,2%,97%);
}

.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col .checkbox-header,
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col > .bp3-control,
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col > .bp3-popover-wrapper,
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col {
  display: block;
}

.sorting-button-group .sort-button {
  padding-bottom: 0px;
}

.rm-all-pages .table .rm-pages-row .rm-pages-title-matching-blocks {
  margin-bottom: -1px;
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  overflow-y: auto;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col {
  flex: 0 0 160px;
}

.rm-all-pages .bp3-control:not(.bp3-align-right) {
  margin-right: -10px;
}

.rm-all-pages .table .rm-pages-row .rm-pages-title-col,
.rm-all-pages .table .rm-pages-row.rm-pages-row-header .rm-pages-title-col,
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col,
.rm-all-pages .table .rm-pages-row .rm-pages-col {
  line-height: 1.5rem;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-title-col > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(3) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(4) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(5) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(6) > span:first-child {
  display: none;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-title-col:before {
  content: "Title";
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(3):before {
  content: "Words";
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(4):before {
  content: "Mentions";
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(5):before {
  content: "Updated";
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(6):before {
  content: "Created";
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(3) {
  justify-content: flex-end;
  flex: 0 0 100px;
  text-align: right;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(4) {
  justify-content: flex-end;
  flex: 0 0 120px;
  text-align: right;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(5) {
  justify-content: flex-end;
  flex: 0 0 180px;
  text-align: right;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(6) {
  justify-content: flex-end;
  flex: 0 0 180px;
  text-align: right;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(5),
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(6) {
  text-align: right;
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  align-items: center;
}

.rm-all-pages .toolbar-search-group .bp3-input-group {
  margin-right: 4px;
}

body,
html {
  letter-spacing: 0;
}

:focus {
  outline: none !important;
}

.roam-body .roam-app .roam-main .roam-article {
  padding: 16px 8px 120px 24px;
}

.bp3-button:not([class*=bp3-intent-]):hover,
.bp3-button:not([class*=bp3-intent-]),
.bp3-submenu.bp3-popover > .bp3-popover-content {
  box-shadow: none;
}

.bp3-button.bp3-outlined {
  border: none;
}

.bp3-button.bp3-intent-danger,
.bp3-button.bp3-intent-warning {
  background-image: none;
}

.bp3-button:focus {
  outline: none;
}

.rm-code-block__language-chooser .bp3-popover-target {
  display: inline-block !important;
}

.bp3-control .bp3-control-indicator {
  display: inline-flex;
}

.bp3-control.bp3-checkbox .bp3-control-indicator::before {
  min-width: var(--fs-app__html);
  min-height: var(--fs-app__html);
  margin-left: -2px;
  margin-top: -2px;
}

.bp3-control.bp3-checkbox input:checked ~ .bp3-control-indicator::before {
  min-width: var(--fs-app__html);
  min-height: var(--fs-app__html);
  margin-left: 0px;
  margin-top: -1px;
}

.bp3-control .bp3-control-indicator::before {
  width: 16px;
  height: 16px;
}

.bp3-html-select select,
.bp3-select select,
.bp3-progress-bar .bp3-progress-meter {
  background-image: none;
}

.bp3-progress-bar:not(.bp3-no-animation):not(.bp3-no-stripes) .bp3-progress-meter {
  animation: none;
}

.bp3-control .bp3-control-indicator {
  box-shadow: none;
}

.bp3-button:focus,
input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:active,
input[type=file]:active,
input[type=radio]:active,
.bp3-control input:focus ~ .bp3-control-indicator {
  outline: none;
}

.bp3-timepicker .bp3-timepicker-input-row {
  line-height: calc(var(--fs-app__html) * 2);
  height: calc(var(--fs-app__html) * 2 + 4px);
}

.rm-bullet::after {
  width: 16px;
  height: 8px;
  bottom: -8px;
}

.rm-E:hover .rm-block__controls {
  display: flex;
}

.rm-g.rm-not-focused .rm-block {
  background-color: inherit;
}

.rm-g.rm-not-focused.rm-block--open.rm-not-focused > .rm-block__self {
  display: none;
}

.bp3-datepicker-month-select {
  display: flex;
  align-items: center;
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--isToday .bp3-datepicker-day-wrapper {
  border: none;
}

.rm-jump-date-picker .bp3-datepicker-day-wrapper {
  height: calc(2 * var(--fs-app__html));
  width: calc(2 * var(--fs-app__html));
}

.bp3-datepicker .bp3-datepicker-day-wrapper {
  padding: calc(var(--fs-app__html) / 4);
}

.bp3-datepicker .bp3-datepicker-day-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bp3-file-upload-input {
  line-height: 38px;
  height: 38px;
}

.bp3-file-upload-input::after,
.bp3-button:not([class*=bp3-intent-]),
.bp3-button.bp3-intent-primary,
.bp3-control .bp3-control-indicator {
  background-image: none;
}

.bp3-popover .rm-line {
  display: none;
}

.bp3-file-upload-input::after {
  line-height: 30px;
}

.dm-toggle {
  display: none;
}

.bp3-elevation-3 div.dont-unfocus-block {
  align-items: center;
}

.bp3-elevation-3 div.dont-unfocus-block span[style*="color: rgb(129, 145, 157);"] {
  display: inline-flex;
  align-items: center;
}

.rm-embed--page.rm-embed-container .rm-embed__content {
  margin-left: 23px;
}

.rm-embed--page.rm-embed-container {
  margin-left: 6px;
}

.rm-embed--page {
  padding-top: 4px;
  padding-bottom: 4px;
}

.rm-embed-margin-action {
  left: -8px;
}

.rm-hide-bullet > .rm-embed-inner-block-hide {
  margin-left: -30px;
}

.rm-embed-container {
  margin-left: -10px;
}

.rm-hide-bullet > .rm-hide-bullet {
  margin-left: -2px;
}

.rm-embed-container .rm-embed-container {
  margin-left: 12px;
  margin-right: 32px;
}

.rm-spacing--right-sidebar-open .rm-embed-container,
.rm-spacing--left-sidebar-open .rm-embed-container,
#right-sidebar .rm-embed-container,
.mobile .rm-embed-container,
.rm-write-only-page .rm-embed-container {
  margin-right: 32px;
}

.rm-embed-container--block {
  min-height: 60px;
}

.rm-embed-container:hover > .rm-embed-edit {
  top: 32px;
  right: 4px;
}

.rm-embed-container:hover > .rm-embed-edit {
  transition: none;
}

.rm-embed-show-bullet > .rm-embed-inner-block-hide {
  margin-left: -4px;
}

.rm-embed-container,
.rm-code-block,
.rm-full-width {
  margin-right: 0;
}

.rm-embed-container--block {
  margin-top: 0;
  padding: 4px;
}

.rm-embed-margin-action.rm-open {
  margin-left: -12px;
}

.rm-embed-path.rm-embed-container:hover > .rm-embed-edit,
.rm-embed-path .rm-embed-edit {
  top: 8px;
  right: 64px;
}

.rm-embed-path__inner {
  margin-left: 20px;
}

.emoji-mart-search {
  padding: 2px 6px;
}

.emoji-mart-category .emoji-mart-emoji:hover:before {
  background-color: transparent;
}

.rm-encrypted-block > div > span > span {
  margin-top: 2px;
  margin-bottom: 2px;
}

.rm-encrypted-block .bp3-button:not([class*=bp3-intent-]) {
  padding: 4px !important;
}

.rm-encrypted-block input {
  padding: 3px 8px;
}

.rm-graph-dropdown {
  max-width: 200px;
}

.rm-graph-dropdown .bp3-menu-item {
  overflow: hidden;
}

.rm-graph-dropdown a:focus {
  outline: none;
}

.bp3-input-group .bp3-input-action, .bp3-input-group > .bp3-input-left-container, .bp3-input-group > .bp3-button, .bp3-input-group > .bp3-icon {
  top: calc((2 * var(--fs-app__html) - 26px) / 2);
}

.bp3-input-group > .bp3-icon {
  margin: 5px;
}

.bp3-input-group.bp3-small .bp3-input {
  height: calc(2 * var(--fs-app__html) - 2px);
  line-height: calc(2 * var(--fs-app__html) - 2px);
}

.bp3-input-group .bp3-button {
  margin: 1px;
}

.rm-help-search__icon-container {
  position: absolute;
  top: 10px;
}

.rm-help-search__input {
  padding-left: 40px;
}

.bp3-input.bp3-minimal.search-input[style*="margin: 8px;"] {
  margin: 8px 4px !important;
}

input[type=checkbox],
input[type=radio] {
  min-height: var(--fs-app__html);
  min-width: var(--fs-app__html);
}

input[type=checkbox],
input[type=radio] {
  margin-top: 0px;
}

.bp3-input:focus,
.bp3-input.bp3-active {
  box-shadow: none;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .icon {
  display: inline-flex;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div.title > div::before {
  content: "Shortcuts";
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div > span {
  display: none;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .title {
  padding-left: 2px;
}

.bp3-icon-list::before {
  font-family: "Icons20";
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: unset;
}

.roam-block {
  margin-top: 0;
}

.rm-block__children.rm-level-0 {
  margin-left: -18px;
}

.roam-block,
.rm-block__input {
  line-height: calc(var(--fs-main) + 8px);
  min-height: calc(var(--fs-main) + 16px) !important;
  padding-top: var(--font-padding);
}

.rm-bullet {
  margin-top: 0;
  margin-left: 0;
  display: inline-flex;
}

.rm-bullet .bp3-popover-wrapper {
  display: inline-flex;
}

.controls,
.rm-block__controls {
  padding-top: 0;
  padding-left: 0;
  min-height: calc(var(--fs-main) + 16px);
  align-items: center;
}

.block-expand {
  display: inline-flex;
}

.rm-multibar {
  left: -11px;
}

.rm-bullet--numbered {
  margin-top: 4px;
}

.roam-block-container {
  border-radius: 0px;
}

.rm-bullet.rm-bullet--closed {
  margin-left: 0;
}

.rm-block-input {
  margin-top: 0;
}

.rm-block--ghost {
  margin-left: -9px !important;
}

.controls .simple-bullet-outer,
.rm-block__controls .simple-bullet-outer {
  margin-top: 0;
}

.controls,
.rm-block__controls {
  flex: 0 0 38px;
}

.rm-block-separator {
  min-width: unset;
}

.check-container {
  width: var(--fs-app__html);
  height: var(--fs-app__html);
  top: 2px;
}

.check-container .checkmark:after {
  width: calc(var(--fs-app__html) / 3 + 1px);
  height: calc(var(--fs-app__html) / 3 * 2 + 1px);
  margin-top: -2px;
  left: unset;
  top: unset;
}

/*
  position: unset;
}

*/
.check-container,
.check-container .checkmark {
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.rm-inline-references {
  padding-left: 27px;
}

.rm-inline-references .rm-multibar {
  margin-left: 0;
}

.rm-inline-reference > .flex-h-box {
  margin-left: -13px;
}

.rm-inline-reference .rm-zoom-path {
  padding-left: 2px;
}

.rm-inline-references .rm-inline-reference .rm-caret-wrapper {
  margin-top: 0;
  margin-left: 0;
}

.rm-zoom.zoom-path-view {
  margin-top: 0;
  margin-left: -6px;
}

.rm-zoom .parent-path-wrapper {
  white-space: break-spaces;
}

.rm-zoom .parent-path-wrapper {
  max-height: calc(var(--fs-main__zoom-item) * 2 + 16px);
  min-height: calc(var(--fs-main__zoom-item) + 8px);
  line-height: calc(var(--fs-main__zoom-item) + 8px);
}

.rm-zoom-path .rm-zoom-item .rm-zoom-item-content .rm-zoom-mask {
  display: flex;
  align-items: center;
}

.rm-zoom.zoom-mentions-view .rm-mention-icon {
  font-size: unset;
}

.rm-alias--external:after {
  content: "↗";
  color: var(--cl-gray-500);
}

.rm-article-wrapper {
  transition: none;
}

.rm-caret.rm-caret-showing {
  opacity: 1;
}

.roam-block .bp3-button:not([class*=bp3-intent-]).rm-pomodoro {
  line-height: 20px;
  height: 30px;
  min-width: 80px;
  text-align: center;
}

.squish svg path {
  fill: var(--co-main__zoom-item) !important;
}

.roam-body .roam-app .roam-main .roam-article .rm-title-editing-display textarea {
  min-height: calc(var(--fs-main__page-title) + 8px) !important;
}

.rm-level1,
.rm-heading-level-1 > .rm-block__self .rm-block__input,
.rm-heading-level-1 > .rm-block__self > .controls,
.rm-heading-level-1 > .rm-block__self > .rm-block__controls {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: calc(var(--fs-main__level1) + 8px);
  min-height: calc(var(--fs-main__level1) + 8px);
}

.rm-level2,
.rm-heading-level-2 > .rm-block__self .rm-block__input,
.rm-heading-level-2 > .rm-block__self > .controls,
.rm-heading-level-2 > .rm-block__self > .rm-block__controls {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: calc(var(--fs-main__level2) + 8px);
  min-height: calc(var(--fs-main__level2) + 8px);
}

.rm-level3,
.rm-heading-level-3 > .rm-block__self .rm-block__input,
.rm-heading-level-3 > .rm-block__self > .controls,
.rm-heading-level-3 > .rm-block__self > .rm-block__controls {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: calc(var(--fs-main__level3) + 8px);
  min-height: calc(var(--fs-main__level3) + 8px);
}

.rm-heading-level-1 > .rm-block__self > .controls,
.rm-heading-level-1 > .rm-block__self > .rm-block__controls {
  line-height: calc(var(--fs-main__level1) + 16px);
  min-height: calc(var(--fs-main__level1) + 16px);
}

.rm-heading-level-2 > .rm-block__self > .controls,
.rm-heading-level-2 > .rm-block__self > .rm-block__controls {
  line-height: calc(var(--fs-main__level2) + 16px);
  min-height: calc(var(--fs-main__level2) + 16px);
}

.rm-heading-level-3 > .rm-block__self > .controls,
.rm-heading-level-3 > .rm-block__self > .rm-block__controls {
  line-height: calc(var(--fs-main__level3) + 16px);
  min-height: calc(var(--fs-main__level3) + 16px);
}

.rm-title-textarea,
.roam-body .roam-app .roam-main .roam-article .rm-title-editing-display textarea.rm-title-textarea {
  margin-top: 0;
  margin-bottom: 0;
  line-height: calc(var(--fs-main__page-title) + 8px);
}

.level2,
.roam-body .roam-app .roam-main .roam-article .rm-title-editing-display,
.roam-body .roam-app .roam-main .roam-article .rm-title-display {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: calc(var(--fs-main__page-title) + 8px);
  min-height: calc(var(--fs-main__page-title) + 8px);
}

#right-sidebar .rm-title-textarea,
.roam-body .roam-app .sidebar-content h1 {
  line-height: calc(var(--fs-right-sidebar__h1) + 8px);
}

.version-bullet {
  margin-top: 0;
}

.roam-table td {
  overflow: auto;
}

.roam-table th,
.roam-table td,
.roam-table tr {
  padding: 4px;
  vertical-align: center;
}

.rm-zoom.zoom-path-view {
  margin-right: 24px;
}

.block-highlight-yellow > .rm-block__self {
  border: none;
}

.rm-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rm-highlight {
  margin: 0;
}

.rm-option {
  padding: 2px 8px 4px 4px;
}

.rm-option:after {
  position: initial;
  margin-left: 8px;
  vertical-align: -55%;
}

.rm-block--ghost .controls,
.rm-block--ghost .rm-block__controls {
  padding-left: 0px;
}

.rm-search-query .rm-reference-main > div {
  margin-left: 14px !important;
  line-height: calc(var(--fs-main) + 12px);
}

.rm-search-query .rm-reference-main > div > a > span:hover {
  -webkit-text-decoration: var(--td-main__a) !important;
          text-decoration: var(--td-main__a) !important;
}

.rm-search-query .rm-reference-main > div:nth-child(2) {
  margin-top: 1rem !important;
}

.rm-search-query .rm-search-query-content > span[style*="margin-left: 9px;"] {
  margin-left: 14px !important;
  font-weight: bold;
}

.bp3-menu-item {
  align-items: center;
}

.bp3-menu-item::before,
.bp3-menu-item > .bp3-icon {
  margin-top: 0;
  margin-left: 0;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
  opacity: 100%;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .signout {
  opacity: 100%;
}

.bp3-menu-item.setting > a {
  display: inline-flex;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .bp3-menu-item .icon.settings {
  line-height: unset;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-item {
  padding-left: 7px;
  padding-top: 5px;
}

.bp3-fill.bp3-text-overflow-ellipsis,
.bp3-menu-item {
  line-height: calc(var(--fs-main) + 4px);
  min-height: calc(var(--fs-main) + 4px);
}

/* .bp3-fill.bp3-text-overflow-ellipsis {
    display: flex;
    align-items: center;
}
*/
.bp3-menu-item.rm-install-menu-item div {
  justify-content: center;
}

.bp3-submenu.bp3-popover {
  padding: 0;
}

.bp3-popover .bp3-popover-content {
  background: var(--bc-popover);
  border-radius: var(--bd-popover);
}

.bp3-popover .bp3-popover-arrow[style*="top: 238px;"] {
  top: 236px !important;
}

.bp3-popover .bp3-popover-arrow-border {
  fill-opacity: 1;
}

.bp3-popover .bp3-popover-arrow[style*="left: 127px;"] {
  left: 125px !important;
}

.rm-query .rm-query-content {
  padding-left: 11px;
}

.rm-query button {
  width: auto;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.rm-reference-main {
  margin-left: -2px;
}

div[style*="margin-top: 24px"] .rm-reference-main > div > div:not(.rm-reference-container) {
  margin-top: calc(var(--fs-main) * 2);
}

.rm-query .rm-reference-main {
  margin-left: 0px;
}

.rm-reference-item {
  margin-left: 24px;
}

.rm-mentions .rm-ref-page-view {
  margin-left: 25px;
}

.rm-reference-item .rm-block__controls {
  display: flex;
  align-items: center;
}

.rm-reference-container > .flex-h-box {
  align-items: center;
}

.rm-reference-main div:not(.rm-reference-container) div.flex-h-box {
  line-height: 24px;
}

.rm-mentions .rm-ref-page-view .rm-ref-page-view-title,
.rm-mentions .rm-ref-page-view .rm-ref-page-view-title a {
  padding-left: 0px;
}

.rm-inline-references .rm-inline-reference .rm-caret-wrapper {
  display: inline-block;
  line-height: 24px;
}

.rm-mentions .rm-ref-page-view .rm-title-arrow-wrapper .rm-caret {
  min-width: 20px;
  line-height: 20px;
  height: 24px;
}

.rm-mentions .rm-ref-page-view .rm-title-arrow-wrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
}

.window-headers {
  padding-top: 4px;
  padding-bottom: 4px;
}

.window-headers .bp3-icon-cross,
.window-headers .bp3-icon-pin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.rm-sidebar-window__controls .bp3-icon-filter {
  margin-bottom: 4px;
}

#right-sidebar .window-headers,
#right-sidebar .window-headers div {
  line-height: 24px;
  align-items: flex-start !important;
}

#right-sidebar .window-headers .bp3-button.bp3-small,
#right-sidebar .window-headers .bp3-small .bp3-button {
  height: 24px;
  width: 24px;
}

#right-sidebar .rm-sidebar-outline-wrapper .rm-reference-main {
  margin-top: -4px;
  padding-top: 0px !important;
}

#right-sidebar .rm-sidebar-outline-wrapper .rm-reference-main .rm-mentions {
  margin-left: 3px;
}

#right-sidebar .window-headers .bp3-icon {
  margin-right: 2px;
}

.rm-sidebar-outline > div[style*="margin-left: -20px"] {
  margin-left: -15px !important;
}

#right-sidebar .rm-sidebar-outline-wrapper {
  margin-left: 20px;
}

#right-sidebar .rm-embed-container,
.mobile .rm-embed-container,
.rm-spacing--left-sidebar-open .rm-embed-container,
.rm-spacing--right-sidebar-open .rm-embed-container,
.rm-write-only-page .rm-embed-container {
  margin-top: 4px;
  margin-bottom: 4px;
}

#right-sidebar .rm-sidebar-window__controls {
  margin-top: -6px;
}

.rm-reference-main > div {
  margin-top: -2px !important;
  margin-right: 0px !important;
  margin-left: -17.5px !important;
}

#right-sidebar > .flex-h-box {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-right: 0px !important;
  padding-right: 7px !important;
}

.rm-sidebar-search div[style*="background-color: rgb(235, 241, 245)"] {
  margin-left: -12px !important;
}

#right-sidebar .rm-sidebar-search .rm-reference-main {
  margin-top: 0px !important;
}

#right-sidebar .rm-sidebar-search .rm-reference-main > span {
  margin-left: 0px !important;
}

.rm-sidebar-search .rm-reference-main > div {
  margin-top: 4px !important;
  margin-left: 0px !important;
}

.rm-sidebar-search .rm-reference-main > div.flex-h-box {
  margin-top: 0px !important;
  margin-left: -17.5px !important;
}

.rm-sidebar-search .rm-reference-main > div.flex-h-box .rm-reference-item {
  margin: 0px !important;
  margin-left: 4px !important;
  margin-top: 4px !important;
  padding-right: 0px !important;
}

.rm-sidebar-search div[style*="background-color: rgb(235, 241, 245);"] .rm-page__title:hover {
  border-bottom: var(--bb-main__page-link--hover);
  color: var(--co-main__page-link--hover);
  -webkit-text-decoration: var(--td-main__page-link--hover) !important;
  text-decoration: var(--td-main__page-link--hover) !important;
}

.rm-sidebar-search div[style*="background-color: rgb(235, 241, 245);"] .rm-page__title {
  border-bottom: var(--bb-main__page-link);
  color: var(--co-main__page-link);
  font-family: var(--ff-main);
  font-weight: var(--fw-main__page-link);
  -webkit-text-decoration: var(--td-main__page-link) !important;
  text-decoration: var(--td-main__page-link) !important;
}

.rm-sidebar-search div[style*="background-color: rgb(235, 241, 245);"] .rm-query-content > div.dont-focus-block > a {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  border-bottom: none !important;
}

.rm-sidebar-search div[style*="background-color: rgb(235, 241, 245);"] {
  color: var(--co-main);
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  font-weight: var(--fw-main);
}

.rm-settings--desktop .rm-settings-heading {
  margin-top: 20px;
  margin-left: 10px;
}

.rm-settings--desktop .rm-extension-settings-heading {
  margin-top: 20px;
  margin-left: 10px;
}

.rm-settings .rm-settings__tab.rm-settings__tab:not(.rm-settings__panel-wrapper) {
  padding: 0 20px;
}

.rm-settings .rm-settings-panel .rm-user-settings {
  padding-left: 2px;
}

.rm-settings--desktop .rm-settings-tabs .bp3-tab-list {
  padding: 10px;
}

.rm-settings .rm-settings__tab.rm-settings__tab:not(.rm-settings__panel-wrapper) {
  padding: 0 10px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-search {
  padding: 10px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-search__settings {
  padding: 20px 10px 4px 10px;
}

.rm-extensions-marketplace .rm-extension-small {
  padding: 10px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-details {
  margin: 10px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-details {
  height: auto;
}

.rm-file-list-item__delete-btn {
  align-self: center;
  max-width: 120px;
  margin-left: 40px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-search {
  border-top-left-radius: var(--bd-dialog);
  border-bottom-left-radius: var(--bd-dialog);
}

.rm-extensions-marketplace .rm-extension-small {
  margin-right: 5px;
}

.rm-settings--desktop .rm-settings-panel {
  padding-left: 2px;
}

.rm-settings .rm-settings-panel .rm-graph-settings,
.rm-extensions-settings .rm-settings-panel__section {
  margin-top: 2px;
}

.rm-extensions-installed__info {
  max-width: 80%;
}

.rm-settings--mobile {
  border-radius: 0px !important;
}

.bp3-toast-message .bp3-button.bp3-small,
.bp3-toast-message .bp3-small .bp3-button {
  min-height: 30px;
  min-width: 30px;
}

.bp3-toast-message {
  padding: 10px;
}

.bp3-toast-container.bp3-toast-container-top {
  top: 30px;
}

.rm-alias-tooltip__content .rm-page-ref--tag, .rm-alias-tooltip__content span[data-tag=tags],
.rm-alias-tooltip__content .rm-bq {
  font-size: var(--fs-tooltip);
}

.bp3-popover-arrow[style*="top: 69px;"] {
  top: 67px !important;
}

.bp3-popover.bp3-tooltip {
  box-shadow: 0px 0px 0px 1px var(--fl-tooltip__arrow-border), 3px 3px 11px 3px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
}

.rm-topbar {
  transition: all ease-in-out 300ms;
}

.rm-topbar__spacer-sm {
  flex: 0 0 0px;
}

span.bp3-popover-target {
  display: inline-block;
}

.rm-block-text .bp3-popover-target {
  display: inline !important;
}

.rm-video-player__container,
.rm-iframe__container {
  margin-right: 0;
}

@media (min-width: 1000px) {
  .rm-spacing--large .rm-video-player__spacing-wrapper,
.rm-spacing--large .rm-iframe__spacing-wrapper {
    max-width: 100% !important;
  }
}
.advanced-search-el .sidebar {
  border-top-right-radius: var(--bd-dialog);
  border-bottom-right-radius: var(--bd-dialog);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  max-width: 200px;
}

.advanced-search-el .bp3-popover-content .bp3-datepicker {
  border-radius: var(--bd-popover);
}

.advanced-search-el .titlebar-container .bp3-heading {
  overflow: auto;
}

.advanced-search-el .graph-loading .infinite-scroll > div > div {
  padding-right: 8px;
}

.rm-unlink-aliases {
  padding-left: 0;
  margin-left: -7.5px !important;
}

.rm-unlink-aliases .rm-caret ~ strong {
  padding-left: 2px;
}

.rm-unlink-aliases .rm-caret svg {
  width: 16px !important;
  height: 16px !important;
}

.rm-unlink-aliases .rm-title-arrow-wrapper > div {
  display: inline-flex;
  line-height: 24px;
  align-items: center;
}

.rm-unlink-aliases .rm-ref-page-view > div:nth-child(2) {
  margin-left: 5.5px !important;
  margin-top: 8px !important;
}

.rm-unlink-aliases .group {
  padding: 0;
}

.rm-unlink-aliases .rm-title-arrow-wrapper > div:hover .hover-opacity {
  opacity: 1;
}

.rm-unlink-aliases .visible {
  padding: 0;
}

.bp3-fill.bp3-text-overflow-ellipsis img, .bp3-menu-item img {
  margin-top: -2px;
}

.bp3-drawer .bp3-heading span[style*="min-width: 260px"] {
  min-width: 80px !important;
}

.bp3-drawer .bp3-heading {
  flex-wrap: auto;
}

.bp3-drawer .bp3-drawer-body .overflow-auto > div {
  flex-wrap: auto;
}

.roamjs-query-results-view h4 {
  font-size: 1rem;
  margin-right: 8px !important;
}

.roamjs-query-results-view h4 > div {
  margin-top: 0;
}

.roamjs-query-results-view > span {
  right: 0rem !important;
  top: 0rem !important;
}

.roamjs-query-results-view .bp3-popover-target .bp3-button {
  min-height: 30px;
  min-width: 30px;
}

.bp3-drawer-body h3.bp3-heading {
  padding-left: 1rem;
}

.bp3-drawer div[style*="border: 1px solid gray; border-radius: 4px; padding: 4px; margin: 4px;"] {
  margin: 12px !important;
}

.bp3-drawer-body > div.p-4 > div > span.justify-end {
  justify-content: flex-start;
}

.roamjs-query-results-view > span {
  margin-top: 0.9rem;
}

.bp3-popover a:focus {
  text-decoration: none;
  color: var(--co-menu__item);
}

.bp3-popover a:focus:hover {
  color: var(--co-menu__item--hover);
}

.workbench-guide .sectionheaders,
.workbench-guide .row {
  margin-left: 1rem;
  margin-right: 1rem;
}

.workbench-guide .sectionheaders {
  height: unset !important;
  font-size: 1.2rem !important;
}

.LearnRoam {
  margin-left: 1rem;
}

.bp3-dialog-header {
  border-radius: var(--bd-dialog) var(--bd-dialog) 0 0;
}

.roamjs-daily-notes-popup .roamjs-dialog-body {
  padding: 20px !important;
  padding-top: 0px !important;
}

.roamjs-daily-notes-popup .dnp-content > h1 {
  display: none;
}

.roamjs-daily-notes-popup .dnp-content {
  border-radius: 0px;
}

#workbench-menu button {
  min-height: 24px;
  min-width: 24px;
}

#workbench-menu {
  margin-right: 4px;
}

.roamjs-workbench-live-preview {
  padding: 20px !important;
  padding-top: 0px !important;
  max-width: 640px;
  max-height: 600px;
  overflow: auto;
}

/* Restore default settings for zotero base elements */
.bp3-dialog[class*=zr-auxiliary-dialog--] {
  background-color: var(--bc-dialog);
  border-top: var(--bt-dialog);
  border-right: var(--br-dialog);
  border-bottom: var(--bb-dialog);
  border-left: var(--bl-dialog);
  border-radius: var(--bd-dialog);
  box-shadow: var(--sd-dialog);
  color: var(--co-dialog);
  font-family: var(--ff-dialog);
  font-size: var(--fs-dialog);
}

.zr-settings-tabs-wrapper > .bp3-tab-list {
  background-color: var(--bc-settings__tab-list);
  border-right: var(--br-settings__tab-list);
  padding: 10px;
}

.zr-tabs.bp3-tabs.bp3-vertical > .bp3-tab-list .bp3-tab:not([aria-disabled=true]):hover {
  background-color: var(--bc-settings__items--hover);
  border-top: var(--bt-settings__items--hover);
  border-right: var(--br-settings__items--hover);
  border-bottom: var(--bb-settings__items--hover);
  border-left: var(--bl-settings__items--hover);
  color: var(--co-settings__items--hover) !important;
  transition: none;
  opacity: 1;
}

.zr-tabs.bp3-tabs.bp3-vertical > .bp3-tab-list .bp3-tab[aria-selected=true] {
  background-color: var(--bc-settings__items--selected) !important;
  border-top: var(--bt-settings__items--selected);
  border-right: var(--br-settings__items--selected);
  border-bottom: var(--bb-settings__items--selected);
  border-left: var(--bl-settings__items--selected);
  border-radius: var(--bd-settings__items--selected) !important;
  color: var(--co-settings__items--selected) !important;
  font-weight: var(--fw-settings__items--selected);
}

.zr-auxiliary, button.bp3-button.zr-auxiliary:not(.bp3-disabled) {
  color: inherit;
}

.roam-block:has(span > span > sub) > span > span button::before {
  content: "Show Tweet";
}

.roam-block:has(span > span > sub) > span > span > button {
  color: var(--co-button);
}

.roam-block:has(span > span > div > div.twitter-tweet) > span > span > button::before {
  content: "Hide Tweet";
}

.roam-block:has(span > span > sub) > span > span > sub {
  display: none;
}

/* Enhance font smoothing */
body,
input,
textarea,
select,
button {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
}

/* Enhance font spacing and line height */
.rm-title-display,
.rm-title-textarea {
  line-height: 40px;
  letter-spacing: 0.22px;
}

.level1 {
  line-height: 26px;
  letter-spacing: -0.26px;
}

.level2 {
  line-height: 22px;
  letter-spacing: -0.43px;
}

.level3 {
  line-height: 20px;
  letter-spacing: -0.23px;
}

div,
#right-sidebar .rm-title-display,
#right-sidebar .rm-title-textarea {
  line-height: 18px;
  letter-spacing: -0.15px;
}

textarea {
  line-height: 16px;
}

/* Fix bullet position */
.controls,
.rm-block__controls {
  padding-top: 5px;
}

.controls .simple-bullet-outer,
.rm-block__controls .simple-bullet-outer {
  margin-top: 3px;
  padding-left: 2px;
}

.roam-block-container .rm-block-main {
  align-items: inherit;
  justify-content: inherit;
}

.rm-bullet {
  margin-top: 2px;
}

.rm-bullet--numbered {
  margin-top: 0px;
}

/* Firefox specific fixes */
@-moz-document url-prefix() {
  .controls .simple-bullet-outer,
.rm-block__controls .simple-bullet-outer {
    margin-top: 7.5px;
  }
  .controls,
.rm-block__controls {
    padding-top: 3px;
  }
  .check-container {
    top: 4px;
  }
  .block-expand .rm-caret {
    margin-top: 6px;
  }
  .rm-bullet--numbered {
    margin-top: 3px;
  }
}
/* Align main block */
.roam-block-container .rm-block-main {
  padding-left: 4px;
}

/* Align multibar */
.rm-multibar {
  left: -2px;
}

/* Align references */
.rm-reference-container > .flex-h-box {
  padding-bottom: 2px;
}

.rm-reference-main:not(.rm-query-content) > div > div:nth-child(2) > div.flex-h-box {
  margin-top: 12px;
}

.rm-reference-item {
  margin-left: -2px;
  /*was +16px*/
}

.rm-caret {
  width: 16px;
  height: 17px;
}

.rm-mentions .rm-ref-page-view {
  margin-left: 15px;
}

.rm-mentions .rm-ref-page-view .rm-title-arrow-wrapper .rm-caret {
  padding: 0px;
}

/* Align caret for linked references */
.rm-reference-container > .flex-h-box {
  align-items: center;
}

.rm-reference-container > .flex-h-box > .rm-caret {
  margin-bottom: 1px;
}

/* Set min height for unlinked references */
.rm-reference-main:not(.rm-query-content) > div > div:nth-child(2) > div {
  min-height: 31px;
}

.rm-block-separator {
  min-width: 0px;
}

/* Remove transparency from graph menu */
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
  opacity: 1;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .signout {
  opacity: 1;
}

/* Remove gradient from buttons */
.bp3-file-upload-input::after,
.bp3-button:not([class*=bp3-intent-]) {
  background-image: none;
}

/* Fix border for popover menus */
.bp3-select-popover .bp3-popover-content {
  padding: 0;
}

.CodeMirror .CodeMirror-scroll {
  max-height: 960px;
}

.bp3-select-popover .bp3-menu {
  padding: 5px;
}

/* Fix starred pages wrapper */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding: 4px 0px 4px 0px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  padding: 4px 20px;
}

/* Change all pages column alignment to left */
.rm-all-pages .table .rm-pages-row .rm-pages-col {
  text-align: left;
}

/* Hide # for tags */
.rm-page-ref--tag {
  padding-left: 4px;
  padding-right: 4px;
}

/* Fix hr margin */
.rm-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Fix table scrolling for Safari */
.roam-table td {
  overflow: auto;
}

/* Remove popover arrows */
.bp3-popover-arrow {
  display: none;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row {
  padding: 7px 16px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content div:nth-child(2) {
  padding-top: 16px;
}

/* Remove gradient from all pages checkboxes */
.rm-all-pages .bp3-control .bp3-control-indicator {
  background-image: none;
}

/* Remove focus border */
:focus {
  outline: none;
}

/* Fix checkbox */
.check-container {
  height: 13px;
  width: 13px;
  top: 2px;
}

.check-container .checkmark::after {
  left: 4px;
  top: 1px;
}

/* Hide left sidebar icons */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .icon {
  display: none;
}

/* Hide starred title */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .title {
  display: none;
}

#right-sidebar > .flex-h-box {
  padding: 10px 8px !important;
  margin-right: 2px !important;
}

#right-sidebar > .flex-h-box > .bp3-button {
  z-index: 100;
}

#right-sidebar {
  padding-top: 0px;
}

#app > div > div.roam-app > div.roam-sidebar-container.noselect > div > div:nth-child(2) {
  padding-top: 44px;
}

.roam-main .rm-topbar {
  padding-right: 44px;
}

.roam-main[style*="flex: 0 0 100%;"] .rm-topbar {
  padding-right: 16px;
}

#roam-right-sidebar-content > div:first-child {
  margin-top: 36px;
}

.bp3-menu-item .bp3-icon {
  display: none;
}

.rm-right-sidebar__helper-text {
  padding: 30px;
}

.rm-bq {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rm-zoom.zoom-path-view {
  margin-top: 20px;
}

.bp3-submenu.bp3-popover {
  padding: 0;
}

/* Remove border from top panel in settings */
.rm-settings .rm-settings-panel__section.rm-settings-panel__section--top {
  padding-top: unset;
  border: none;
}

/* Remove background from scrollbar */
.bp3-dark .bp3-slider-handle.bp3-active {
  background-color: transparent;
}

.rm-settings ::-webkit-scrollbar:vertical {
  background: transparent;
}

.rm-all-pages {
  margin-top: 68px;
}

.rm-topbar {
  height: 44px;
}

.bp3-datepicker .bp3-datepicker-day-wrapper {
  padding: 8px;
}

/* Modify transitions */
.rm-find-or-create-wrapper,
.roam-main,
.roam-app > .flex-h-box,
#right-sidebar {
  transition: flex 40ms ease !important;
}

/* Remove bp3 divider */
.bp3-divider {
  display: none;
}

/* Padding table */
.roam-table tr td {
  padding: 0.5em 1em 0.5em 0;
}

/* Cursor Color */
input,
textarea,
[contenteditable] {
  caret-color: #888;
}

/* Hide Pomodoro Icons */
.rm-pomodoro > span:first-child {
  display: none;
}

.rm-pomodoro.running:first-letter {
  color: transparent;
}

.rm-pomodoro {
  min-width: 100px;
  text-align: center;
}

.rm-pomodoro.running {
  padding-top: 6px;
  padding-right: 28px;
}

.rm-pomodoro.break:first-letter {
  color: transparent;
}

.rm-pomodoro.break {
  padding-top: 6px;
  padding-right: 28px;
}

/* Fix elevation width for mobile */
@media screen and (max-width: 400px) {
  .bp3-elevation-3 {
    width: 300px !important;
    max-width: 300px !important;
  }
}
/* Hide Code Block Gutter */
.cm-gutters {
  display: none !important;
}

.rm-code-block {
  padding: 20px;
}

.CodeMirror-sizer {
  margin-left: 0px !important;
}

.roam-block-container {
  border-radius: 0;
}

.roam-body .roam-app .roam-main .roam-article {
  padding-top: 60px;
}

.roam-body .roam-app .roam-body-main {
  flex: 0 0 100%;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-item {
  padding: 2px 7px;
}

.bp3-menu-item::before,
.bp3-menu-item > .bp3-icon {
  margin-top: 0;
}

.bp3-icon.bp3-icon-caret-right {
  display: block;
}

.bp3-menu-item {
  padding: 3px 7px !important;
}

.CodeMirror .CodeMirror-scroll {
  max-height: 960px;
}

.rm-code-block__language-chooser {
  z-index: 1;
}

.rm-block-separator {
  min-width: 0px;
}

.roam-main > .rm-files-dropzone {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  content: "";
  height: 44px;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 100;
}