@charset "UTF-8";
:root {
  --cl-white: #ffffff;
  --cl-black: #000000;
  --cl-accent-400: #97b1ce;
  --cl-accent-500: #8eacca;
  --cl-accent-600: #525c66;
  --cl-accent-700: #4e5862;
  --cl-gray-50: #fcfcfc;
  --cl-gray-75: #f8f8f8;
  --cl-gray-100: #f6f6f6;
  --cl-gray-125: #f4f4f4;
  --cl-gray-150: #f1f1f1;
  --cl-gray-200: #eaeaea;
  --cl-gray-250: #e9e9e9;
  --cl-gray-300: #dddddd;
  --cl-gray-350: #cdcdcd;
  --cl-gray-400: #c3c3c3;
  --cl-gray-425: #bcc2c9;
  --cl-gray-450: #b6b6b6;
  --cl-gray-475: #ababab;
  --cl-gray-500: #9b9b9b;
  --cl-gray-525: #7c7d7f;
  --cl-gray-550: #757575;
  --cl-gray-600: #606060;
  --cl-gray-650: #494b4d;
  --cl-gray-675: #414141;
  --cl-gray-700: #383f45;
  --cl-gray-725: #333333;
  --cl-gray-750: #2d2d2d;
  --cl-gray-775: #292929;
  --cl-gray-800: #262626;
  --cl-gray-825: #222222;
  --cl-gray-850: #202224;
  --cl-gray-875: #1e1e1e;
  --cl-gray-900: #1a1a1a;
  --cl-gray-950: #141414;
  --cl-gray-975: #0a0a0a;
  --cl-rose-50: #fff1f2;
  --cl-rose-100: #ffe4e6;
  --cl-rose-200: #fecdd3;
  --cl-rose-300: #fda4af;
  --cl-rose-400: #fb7185;
  --cl-rose-500: #f43f5e;
  --cl-rose-600: #e11d48;
  --cl-rose-700: #be123c;
  --cl-rose-800: #9f1239;
  --cl-rose-900: #881337;
  --cl-pink-50: #fdf2f8;
  --cl-pink-100: #fce7f3;
  --cl-pink-200: #fbcfe8;
  --cl-pink-300: #f9a8d4;
  --cl-pink-400: #f472b6;
  --cl-pink-500: #ec4899;
  --cl-pink-600: #db2777;
  --cl-pink-700: #be185d;
  --cl-pink-800: #9d174d;
  --cl-pink-900: #831843;
  --cl-fuchsia-50: #fdf4ff;
  --cl-fuchsia-100: #fae8ff;
  --cl-fuchsia-200: #f5d0fe;
  --cl-fuchsia-300: #f0abfc;
  --cl-fuchsia-400: #e879f9;
  --cl-fuchsia-500: #d946ef;
  --cl-fuchsia-600: #c026d3;
  --cl-fuchsia-700: #a21caf;
  --cl-fuchsia-800: #86198f;
  --cl-fuchsia-900: #701a75;
  --cl-purple-50: #faf5ff;
  --cl-purple-100: #f3e8ff;
  --cl-purple-200: #e9d5ff;
  --cl-purple-300: #d8b4fe;
  --cl-purple-400: #c084fc;
  --cl-purple-500: #a855f7;
  --cl-purple-600: #9333ea;
  --cl-purple-700: #7e22ce;
  --cl-purple-800: #6b21a8;
  --cl-purple-900: #581c87;
  --cl-violet-50: #f5f3ff;
  --cl-violet-100: #ede9fe;
  --cl-violet-200: #ddd6fe;
  --cl-violet-300: #c4b5fd;
  --cl-violet-400: #a78bfa;
  --cl-violet-500: #8b5cf6;
  --cl-violet-600: #7c3aed;
  --cl-violet-700: #6d28d9;
  --cl-violet-800: #5b21b6;
  --cl-violet-900: #4c1d95;
  --cl-indigo-50: #eef2ff;
  --cl-indigo-100: #e0e7ff;
  --cl-indigo-200: #c7d2fe;
  --cl-indigo-300: #a5b4fc;
  --cl-indigo-400: #818cf8;
  --cl-indigo-500: #6366f1;
  --cl-indigo-600: #4f46e5;
  --cl-indigo-700: #4338ca;
  --cl-indigo-800: #3730a3;
  --cl-indigo-900: #312e81;
  --cl-blue-50: #eff6ff;
  --cl-blue-100: #dbeafe;
  --cl-blue-200: #bfdbfe;
  --cl-blue-300: #93c5fd;
  --cl-blue-400: #60a5fa;
  --cl-blue-500: #3b82f6;
  --cl-blue-600: #2563eb;
  --cl-blue-700: #1d4ed8;
  --cl-blue-800: #1e40af;
  --cl-blue-900: #1e3a8a;
  --cl-sky-50: #f0f9ff;
  --cl-sky-100: #e0f2fe;
  --cl-sky-200: #bae6fd;
  --cl-sky-300: #7dd3fc;
  --cl-sky-400: #38bdf8;
  --cl-sky-500: #0ea5e9;
  --cl-sky-600: #0284c7;
  --cl-sky-700: #0369a1;
  --cl-sky-800: #075985;
  --cl-sky-900: #0c4a6e;
  --cl-cyan-50: #ecfeff;
  --cl-cyan-100: #cffafe;
  --cl-cyan-200: #a5f3fc;
  --cl-cyan-300: #67e8f9;
  --cl-cyan-400: #22d3ee;
  --cl-cyan-500: #06b6d4;
  --cl-cyan-600: #0891b2;
  --cl-cyan-700: #0e7490;
  --cl-cyan-800: #155e75;
  --cl-cyan-900: #164e63;
  --cl-teal-50: #f0fdfa;
  --cl-teal-100: #ccfbf1;
  --cl-teal-200: #99f6e4;
  --cl-teal-300: #5eead4;
  --cl-teal-400: #2dd4bf;
  --cl-teal-500: #14b8a6;
  --cl-teal-600: #0d9488;
  --cl-teal-700: #0f766e;
  --cl-teal-800: #115e59;
  --cl-teal-900: #134e4a;
  --cl-emerald-50: #ecfdf5;
  --cl-emerald-100: #d1fae5;
  --cl-emerald-200: #a7f3d0;
  --cl-emerald-300: #6ee7b7;
  --cl-emerald-400: #34d399;
  --cl-emerald-500: #10b981;
  --cl-emerald-600: #059669;
  --cl-emerald-700: #047857;
  --cl-emerald-800: #065f46;
  --cl-emerald-900: #064e3b;
  --cl-green-50: #f0fdf4;
  --cl-green-100: #dcfce7;
  --cl-green-200: #bbf7d0;
  --cl-green-300: #86efac;
  --cl-green-400: #4ade80;
  --cl-green-500: #22c55e;
  --cl-green-600: #16a34a;
  --cl-green-700: #15803d;
  --cl-green-800: #166534;
  --cl-green-900: #14532d;
  --cl-lime-50: #f7fee7;
  --cl-lime-100: #ecfccb;
  --cl-lime-200: #d9f99d;
  --cl-lime-300: #bef264;
  --cl-lime-400: #a3e635;
  --cl-lime-500: #84cc16;
  --cl-lime-600: #65a30d;
  --cl-lime-700: #4d7c0f;
  --cl-lime-800: #3f6212;
  --cl-lime-900: #365314;
  --cl-yellow-50: #fefce8;
  --cl-yellow-75: #fffae5;
  --cl-yellow-100: #fef9c3;
  --cl-yellow-150: #fffabb;
  --cl-yellow-200: #fceb95;
  --cl-yellow-250: #ffe28d;
  --cl-yellow-300: #ffd700;
  --cl-yellow-325: #ffce1c;
  --cl-yellow-350: #c8bc87;
  --cl-yellow-400: #facc15;
  --cl-yellow-500: #eab308;
  --cl-yellow-550: #d1ad00;
  --cl-yellow-600: #ca8a04;
  --cl-yellow-650: #b49922;
  --cl-yellow-700: #a16207;
  --cl-yellow-750: #917c26;
  --cl-yellow-800: #854d0e;
  --cl-yellow-850: #706c2e;
  --cl-yellow-900: #713f12;
  --cl-yellow-950: #433b0c;
  --cl-amber-50: #fffbeb;
  --cl-amber-100: #fef3c7;
  --cl-amber-200: #fde68a;
  --cl-amber-300: #fcd34d;
  --cl-amber-400: #fbbf24;
  --cl-amber-500: #f59e0b;
  --cl-amber-600: #d97706;
  --cl-amber-700: #b45309;
  --cl-amber-800: #92400e;
  --cl-amber-900: #78350f;
  --cl-orange-50: #fff7ed;
  --cl-orange-75: #fff7ec;
  --cl-orange-100: #ffedd5;
  --cl-orange-200: #fed7aa;
  --cl-orange-300: #fdba74;
  --cl-orange-350: #fac37b;
  --cl-orange-400: #fb923c;
  --cl-orange-500: #f97316;
  --cl-orange-600: #ea580c;
  --cl-orange-700: #c2410c;
  --cl-orange-800: #9a3412;
  --cl-orange-850: #8f5a12;
  --cl-orange-900: #7c2d12;
  --cl-orange-950: #322b20;
  --cl-red-50: #fef2f2;
  --cl-red-75: #feecef;
  --cl-red-100: #fee2e2;
  --cl-red-200: #fecaca;
  --cl-red-300: #fca5a5;
  --cl-red-350: #ed92a6;
  --cl-red-400: #f87171;
  --cl-red-450: #f3576b;
  --cl-red-500: #ef4444;
  --cl-red-550: #c34f5d;
  --cl-red-600: #dc2626;
  --cl-red-700: #b91c1c;
  --cl-red-800: #991b1b;
  --cl-red-850: #871327;
  --cl-red-900: #7f1d1d;
  --cl-red-950: #322428;
  --cl-warmGray-50: #fafaf9;
  --cl-warmGray-100: #f5f5f4;
  --cl-warmGray-200: #e7e5e4;
  --cl-warmGray-300: #d6d3d1;
  --cl-warmGray-400: #a8a29e;
  --cl-warmGray-500: #78716c;
  --cl-warmGray-600: #57534e;
  --cl-warmGray-700: #44403c;
  --cl-warmGray-800: #292524;
  --cl-warmGray-900: #1c1917;
  --cl-trueGray-50: #fafafa;
  --cl-trueGray-100: #f5f5f5;
  --cl-trueGray-200: #e5e5e5;
  --cl-trueGray-300: #dbdbdb;
  --cl-trueGray-400: #a3a3a3;
  --cl-trueGray-500: #737373;
  --cl-trueGray-600: #525252;
  --cl-trueGray-700: #404040;
  --cl-trueGray-800: #262626;
  --cl-trueGray-900: #171717;
  --cl-coolGray-50: #f9fafb;
  --cl-coolGray-100: #f3f4f6;
  --cl-coolGray-200: #e5e7eb;
  --cl-coolGray-300: #d1d5db;
  --cl-coolGray-400: #9ca3af;
  --cl-coolGray-500: #6b7280;
  --cl-coolGray-600: #4b5563;
  --cl-coolGray-700: #374151;
  --cl-coolGray-800: #1f2937;
  --cl-coolGray-900: #111827;
  --cl-blueGray-50: #f8fafc;
  --cl-blueGray-100: #f1f5f9;
  --cl-blueGray-200: #e2e8f0;
  --cl-blueGray-300: #cbd5e1;
  --cl-blueGray-400: #94a3b8;
  --cl-blueGray-500: #64748b;
  --cl-blueGray-600: #475569;
  --cl-blueGray-700: #334155;
  --cl-blueGray-800: #1e293b;
  --cl-blueGray-900: #0f172a;
}

.rm-all-pages .table .rm-pages-row {
  align-items: baseline;
}

.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col .checkbox-header,
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col > .bp3-control,
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col > .bp3-popover-wrapper,
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col {
  display: block;
}

.sorting-button-group .sort-button {
  padding-bottom: 0px;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col {
  flex: 0 0 160px;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-title-col > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(3) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(4) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(5) > span:first-child,
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(6) > span:first-child {
  display: none;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-title-col:before {
  content: "Title";
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(3):before {
  content: "Words";
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(4):before {
  content: "Mentions";
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(5):before {
  content: "Updated";
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(6):before {
  content: "Created";
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(3) {
  justify-content: flex-end;
  flex: 0 0 100px;
  text-align: right;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(4) {
  justify-content: flex-end;
  flex: 0 0 120px;
  text-align: right;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(5) {
  justify-content: flex-end;
  flex: 0 0 180px;
  text-align: right;
}

.rm-all-pages .table .rm-pages-row .rm-pages-col:nth-child(6) {
  justify-content: flex-end;
  flex: 0 0 180px;
  text-align: right;
}

.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(5),
.rm-all-pages .table .rm-pages-row-header .rm-pages-col:nth-child(6) {
  text-align: right;
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  align-items: center;
}

.sorting-button-group {
  display: inline-flex;
}

.rm-all-pages .toolbar-search-group .bp3-input-group {
  margin-right: 4px;
}

body,
html {
  letter-spacing: 0;
}

:focus {
  outline: none !important;
}

.roam-body .roam-app .roam-main .roam-article {
  padding: 16px 8px 120px 24px;
}

.bp3-button:not([class*=bp3-intent-]):hover,
.bp3-button:not([class*=bp3-intent-]),
.bp3-submenu.bp3-popover > .bp3-popover-content {
  box-shadow: none;
}

.bp3-button.bp3-outlined {
  border: none;
}

.bp3-button.bp3-intent-danger,
.bp3-button.bp3-intent-warning {
  background-image: none;
}

.bp3-button:focus {
  outline: none;
}

.bp3-control .bp3-control-indicator {
  display: inline-flex;
}

.bp3-control.bp3-checkbox .bp3-control-indicator::before {
  min-width: var(--fs-app__html);
  min-height: var(--fs-app__html);
  margin-left: -2px;
  margin-top: -2px;
}

.bp3-control.bp3-checkbox input:checked ~ .bp3-control-indicator::before {
  min-width: var(--fs-app__html);
  min-height: var(--fs-app__html);
  margin-left: 0;
  margin-top: -1px;
}

.bp3-control .bp3-control-indicator::before {
  width: 16px;
  height: 16px;
}

.bp3-html-select select,
.bp3-select select,
.bp3-progress-bar .bp3-progress-meter {
  background-image: none;
}

.bp3-progress-bar:not(.bp3-no-animation):not(.bp3-no-stripes) .bp3-progress-meter {
  -webkit-animation: none;
          animation: none;
}

.bp3-control .bp3-control-indicator {
  box-shadow: none;
}

.bp3-button:focus,
input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:active,
input[type=file]:active,
input[type=radio]:active,
.bp3-control input:focus ~ .bp3-control-indicator {
  outline: none;
}

.bp3-timepicker .bp3-timepicker-input-row {
  line-height: calc(var(--fs-app__html) * 2);
  height: calc(var(--fs-app__html) * 2 + 4px);
}

.rm-bullet::after {
  width: 16px;
  height: 8px;
  bottom: -8px;
}

.rm-E:hover .rm-block__controls {
  display: flex;
}

.rm-g.rm-not-focused .rm-block {
  background-color: inherit;
}

.rm-g.rm-not-focused.rm-block--open.rm-not-focused > .rm-block__self {
  display: none;
}

.bp3-datepicker-month-select {
  display: flex;
  align-items: center;
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--isToday .bp3-datepicker-day-wrapper {
  border: none;
}

.rm-jump-date-picker .bp3-datepicker-day-wrapper {
  height: calc(2 * var(--fs-app__html) + 5px);
  width: calc(2 * var(--fs-app__html) + 5px);
}

.bp3-file-upload-input {
  line-height: 38px;
  height: 38px;
}

.bp3-file-upload-input::after,
.bp3-button:not([class*=bp3-intent-]),
.bp3-button.bp3-intent-primary,
.bp3-control .bp3-control-indicator {
  background-image: none;
}

.bp3-popover .rm-line {
  display: none;
}

.bp3-file-upload-input::after {
  line-height: 30px;
}

.bp3-elevation-3 div.dont-unfocus-block {
  align-items: center;
}

.bp3-elevation-3 div.dont-unfocus-block span[style*="color: rgb(129, 145, 157);"] {
  display: inline-flex;
  align-items: center;
}

.rm-embed--page.rm-embed-container .rm-embed__content {
  margin-left: 23px;
}

.rm-embed--page.rm-embed-container {
  margin-left: 6px;
}

.rm-embed--page {
  padding-top: 4px;
  padding-bottom: 4px;
}

.rm-embed-margin-action {
  left: -8px;
}

.rm-hide-bullet > .rm-embed-inner-block-hide {
  margin-left: -30px;
}

.rm-embed-container {
  margin-left: -10px;
}

.rm-hide-bullet > .rm-hide-bullet {
  margin-left: -2px;
}

.rm-embed-container .rm-embed-container {
  margin-left: 12px;
  margin-right: 32px;
}

.rm-spacing--right-sidebar-open .rm-embed-container,
.rm-spacing--left-sidebar-open .rm-embed-container,
#right-sidebar .rm-embed-container,
.mobile .rm-embed-container,
.rm-write-only-page .rm-embed-container {
  margin-right: 32px;
}

.rm-embed-container--block {
  min-height: 60px;
}

.rm-embed-container:hover > .rm-embed-edit {
  top: 32px;
  right: 4px;
}

.rm-embed-container:hover > .rm-embed-edit {
  transition: none;
}

.rm-embed-show-bullet > .rm-embed-inner-block-hide {
  margin-left: -4px;
}

.rm-embed-container,
.rm-code-block,
.rm-full-width {
  margin-right: 0;
}

.rm-embed-container--block {
  margin-top: 0;
  padding: 4px;
}

.rm-embed-margin-action.rm-open {
  margin-left: -12px;
}

.rm-embed-path.rm-embed-container:hover > .rm-embed-edit,
.rm-embed-path .rm-embed-edit {
  top: 8px;
  right: 64px;
}

.rm-embed-path__inner {
  margin-left: 20px;
}

.emoji-mart-search {
  padding: 2px 6px;
}

.emoji-mart-category .emoji-mart-emoji:hover:before {
  background-color: transparent;
}

.rm-encrypted-block > div > span > span {
  margin-top: 2px;
  margin-bottom: 2px;
}

.rm-encrypted-block .bp3-button:not([class*=bp3-intent-]) {
  padding: 4px !important;
}

.rm-encrypted-block input {
  padding: 3px 8px;
}

.rm-graph-dropdown {
  max-width: 200px;
}

.rm-graph-dropdown .bp3-menu-item {
  overflow: hidden;
}

.rm-graph-dropdown a:focus {
  outline: none;
}

.rm-help-search__icon-container {
  position: absolute;
  top: 10px;
}

.rm-help-search__input {
  padding-left: 40px;
}

.bp3-input.bp3-minimal.search-input[style*="margin: 8px;"] {
  margin: 8px 4px !important;
}

input[type=checkbox],
input[type=radio] {
  min-height: var(--fs-app__html);
  min-width: var(--fs-app__html);
}

input[type=checkbox],
input[type=radio] {
  margin-top: 0px;
}

.bp3-input:focus,
.bp3-input.bp3-active {
  box-shadow: none;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .icon {
  display: inline-flex;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div.title > div::before {
  content: "Shortcuts";
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div > span {
  display: none;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .title {
  padding-left: 2px;
}

.bp3-icon-list::before {
  font-family: "Icons20";
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: unset;
}

.roam-block {
  margin-top: 0;
}

.rm-block__children.rm-level-0 {
  margin-left: -18px;
}

.roam-block,
.rm-block__input {
  line-height: calc(var(--fs-main) + 8px);
  min-height: calc(var(--fs-main) + 8px);
  padding-top: var(--font-padding);
}

.rm-bullet {
  margin-top: 0;
  margin-left: 0;
  display: inline-flex;
}

.rm-bullet .bp3-popover-wrapper {
  display: inline-flex;
}

.controls,
.rm-block__controls {
  padding-top: 0;
  padding-left: 0;
  min-height: calc(var(--fs-main) + 16px);
  align-items: center;
}

.block-expand {
  display: inline-flex;
}

.rm-multibar {
  left: -11px;
}

.rm-bullet--numbered {
  margin-top: 4px;
}

.roam-block-container {
  border-radius: 0px;
}

.rm-bullet.rm-bullet--closed {
  margin-left: 0;
}

.rm-block-input {
  margin-top: 0;
}

.rm-block--ghost {
  margin-left: -9px !important;
}

.controls .simple-bullet-outer,
.rm-block__controls .simple-bullet-outer {
  margin-top: 0;
}

.controls,
.rm-block__controls {
  flex: 0 0 38px;
}

.rm-block-separator {
  min-width: unset;
}

.check-container {
  width: var(--fs-app__html);
  height: var(--fs-app__html);
  top: 2px;
}

.check-container .checkmark:after {
  width: calc(var(--fs-app__html) / 3 + 1px);
  height: calc(var(--fs-app__html) / 3 * 2 + 1px);
  margin-top: -2px;
  left: unset;
  top: unset;
}

/*
  position: unset;
}

*/
.check-container,
.check-container .checkmark {
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.rm-inline-references {
  padding-left: 27px;
}

.rm-inline-references .rm-multibar {
  margin-left: 0;
}

.rm-inline-reference > .flex-h-box {
  margin-left: -13px;
}

.rm-inline-reference .rm-zoom-path {
  padding-left: 2px;
}

.rm-inline-references .rm-inline-reference .rm-caret-wrapper {
  margin-top: 0;
  margin-left: 0;
}

.rm-zoom.zoom-path-view {
  margin-top: 0;
  margin-left: -6px;
}

.rm-zoom .parent-path-wrapper {
  white-space: break-spaces;
}

.rm-zoom .parent-path-wrapper {
  max-height: calc(var(--fs-main__zoom-item) * 2 + 16px);
  min-height: calc(var(--fs-main__zoom-item) + 8px);
  line-height: calc(var(--fs-main__zoom-item) + 8px);
}

.rm-zoom-path .rm-zoom-item .rm-zoom-item-content .rm-zoom-mask {
  display: flex;
  align-items: center;
}

.rm-alias--external:after {
  content: "↗";
  color: var(--cl-gray-500);
}

.rm-article-wrapper {
  transition: none;
}

.rm-caret.rm-caret-showing {
  opacity: 1;
}

.roam-block .bp3-button:not([class*=bp3-intent-]).rm-pomodoro {
  line-height: 20px;
  height: 30px;
  min-width: 80px;
  text-align: center;
}

.squish svg path {
  fill: var(--co-main__zoom-item) !important;
}

.roam-body .roam-app .roam-main .roam-article .rm-title-editing-display textarea {
  height: calc(var(--fs-main__page-title) + 8px) !important;
}

.rm-level1,
.rm-heading-level-1 > .rm-block__self .rm-block__input,
.rm-heading-level-1 > .rm-block__self > .controls,
.rm-heading-level-1 > .rm-block__self > .rm-block__controls {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: calc(var(--fs-main__level1) + 8px);
  min-height: calc(var(--fs-main__level1) + 8px);
}

.rm-level2,
.rm-heading-level-2 > .rm-block__self .rm-block__input,
.rm-heading-level-2 > .rm-block__self > .controls,
.rm-heading-level-2 > .rm-block__self > .rm-block__controls {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: calc(var(--fs-main__level2) + 8px);
  min-height: calc(var(--fs-main__level2) + 8px);
}

.rm-level3,
.rm-heading-level-3 > .rm-block__self .rm-block__input,
.rm-heading-level-3 > .rm-block__self > .controls,
.rm-heading-level-3 > .rm-block__self > .rm-block__controls {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: calc(var(--fs-main__level3) + 8px);
  min-height: calc(var(--fs-main__level3) + 8px);
}

.rm-heading-level-1 > .rm-block__self > .controls,
.rm-heading-level-1 > .rm-block__self > .rm-block__controls {
  line-height: calc(var(--fs-main__level1) + 16px);
  min-height: calc(var(--fs-main__level1) + 16px);
}

.rm-heading-level-2 > .rm-block__self > .controls,
.rm-heading-level-2 > .rm-block__self > .rm-block__controls {
  line-height: calc(var(--fs-main__level2) + 16px);
  min-height: calc(var(--fs-main__level2) + 16px);
}

.rm-heading-level-3 > .rm-block__self > .controls,
.rm-heading-level-3 > .rm-block__self > .rm-block__controls {
  line-height: calc(var(--fs-main__level3) + 16px);
  min-height: calc(var(--fs-main__level3) + 16px);
}

.rm-title-textarea,
.roam-body .roam-app .roam-main .roam-article .rm-title-editing-display textarea.rm-title-textarea {
  margin-top: 0;
  margin-bottom: 0;
  line-height: calc(var(--fs-main__page-title) + 8px);
}

.level2,
.roam-body .roam-app .roam-main .roam-article .rm-title-editing-display,
.roam-body .roam-app .roam-main .roam-article .rm-title-display {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: calc(var(--fs-main__page-title) + 8px);
  min-height: calc(var(--fs-main__page-title) + 8px);
}

#right-sidebar .rm-title-textarea,
.roam-body .roam-app .sidebar-content h1 {
  line-height: calc(var(--fs-right-sidebar__h1) + 8px);
}

.version-bullet {
  margin-top: 0;
}

.roam-table td {
  overflow: auto;
}

.roam-table th,
.roam-table td,
.roam-table tr {
  padding: 4px;
  vertical-align: center;
}

.rm-zoom.zoom-path-view {
  margin-right: 24px;
}

.block-highlight-yellow > .rm-block__self {
  border: none;
}

.rm-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bp3-menu-item {
  align-items: center;
}

.bp3-menu-item::before,
.bp3-menu-item > .bp3-icon {
  margin-top: 0;
  margin-left: 0;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
  opacity: 100%;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .signout {
  opacity: 100%;
}

.bp3-menu-item.setting > a {
  display: inline-flex;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .bp3-menu-item .icon.settings {
  line-height: unset;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-item {
  padding-left: 7px;
  padding-top: 5px;
}

.bp3-fill.bp3-text-overflow-ellipsis,
.bp3-menu-item {
  line-height: calc(var(--fs-main) + 4px);
  min-height: calc(var(--fs-main) + 4px);
}

.bp3-fill.bp3-text-overflow-ellipsis {
  display: flex;
  align-items: center;
}

.bp3-menu-item.rm-install-menu-item div {
  justify-content: center;
}

.bp3-submenu.bp3-popover {
  padding: 0;
}

.bp3-popover .bp3-popover-content {
  background: var(--bc-popover);
  border-radius: var(--bd-popover);
}

.bp3-popover .bp3-popover-arrow[style*="top: 238px;"] {
  top: 236px !important;
}

.bp3-popover .bp3-popover-arrow-border {
  fill-opacity: 1;
}

.rm-query .rm-query-content {
  padding-left: 11px;
}

.rm-reference-main {
  margin-left: -2px;
}

div[style*="margin-top: 24px"] .rm-reference-main > div > div:not(.rm-reference-container) {
  margin-top: calc(var(--fs-main) * 2);
}

.rm-query .rm-reference-main {
  margin-left: 0px;
}

.rm-reference-item {
  margin-left: 24px;
}

.rm-mentions .rm-ref-page-view {
  margin-left: 25px;
}

.rm-reference-item .rm-block__controls {
  display: flex;
  align-items: center;
}

.rm-reference-container > .flex-h-box {
  align-items: center;
}

.rm-reference-main div:not(.rm-reference-container) div.flex-h-box {
  line-height: 24px;
}

.rm-mentions .rm-ref-page-view .rm-ref-page-view-title,
.rm-mentions .rm-ref-page-view .rm-ref-page-view-title a {
  padding-left: 0px;
}

.rm-inline-references .rm-inline-reference .rm-caret-wrapper {
  display: inline-block;
  line-height: 24px;
}

#right-sidebar .window-headers,
#right-sidebar .window-headers div {
  line-height: 24px;
  align-items: baseline !important;
}

#right-sidebar .window-headers .bp3-button.bp3-small,
#right-sidebar .window-headers .bp3-small .bp3-button {
  height: 24px;
  width: 24px;
}

#right-sidebar .rm-sidebar-outline-wrapper .rm-reference-main {
  margin-top: -4px;
  padding-top: 0px !important;
}

#right-sidebar .rm-sidebar-outline-wrapper .rm-reference-main .rm-mentions {
  margin-left: 3px;
}

#right-sidebar .window-headers .bp3-icon {
  margin-right: 2px;
}

.rm-sidebar-outline > div[style*="margin-left: -20px"] {
  margin-left: -15px !important;
}

#right-sidebar .rm-sidebar-outline-wrapper {
  margin-left: 20px;
}

#right-sidebar .rm-embed-container,
.mobile .rm-embed-container,
.rm-spacing--left-sidebar-open .rm-embed-container,
.rm-spacing--right-sidebar-open .rm-embed-container,
.rm-write-only-page .rm-embed-container {
  margin-top: 4px;
  margin-bottom: 4px;
}

#right-sidebar .rm-sidebar-window__controls {
  margin-top: -6px;
}

.rm-reference-main > div {
  margin-top: -2px !important;
  margin-right: 0px !important;
  margin-left: -17.5px !important;
}

#right-sidebar > .flex-h-box {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-right: 0px !important;
  padding-right: 7px !important;
}

.rm-settings--desktop .rm-settings-heading {
  margin-top: 20px;
  margin-left: 10px;
}

.rm-settings--desktop .rm-extension-settings-heading {
  margin-top: 20px;
  margin-left: 10px;
}

.rm-settings .rm-settings__tab.rm-settings__tab:not(.rm-settings__panel-wrapper) {
  padding: 0 20px;
}

.rm-settings .rm-settings-panel .rm-user-settings {
  padding-left: 2px;
}

.rm-settings--desktop .rm-settings-tabs .bp3-tab-list {
  padding: 10px;
}

.rm-settings .rm-settings__tab.rm-settings__tab:not(.rm-settings__panel-wrapper) {
  padding: 0 10px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-search {
  padding: 10px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-search__settings {
  padding: 20px 10px 4px 10px;
}

.rm-extensions-marketplace .rm-extension-small {
  padding: 10px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-details {
  margin: 10px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-details {
  height: auto;
}

.rm-file-list-item__delete-btn {
  align-self: center;
  max-width: 120px;
  margin-left: 40px;
}

.rm-extensions-marketplace .rm-extensions-marketplace-search {
  border-top-left-radius: var(--bd-dialog);
  border-bottom-left-radius: var(--bd-dialog);
}

.rm-extensions-marketplace .rm-extension-small {
  margin-right: 5px;
}

.rm-settings--desktop .rm-settings-panel {
  padding-left: 2px;
}

.rm-settings .rm-settings-panel .rm-graph-settings,
.rm-extensions-settings .rm-settings-panel__section {
  margin-top: 2px;
}

.rm-extensions-installed__info {
  max-width: 80%;
}

.bp3-toast-message .bp3-button.bp3-small,
.bp3-toast-message .bp3-small .bp3-button {
  min-height: 30px;
  min-width: 30px;
}

.bp3-toast-message {
  padding: 9px;
}

.bp3-toast-container.bp3-toast-container-top {
  top: 30px;
}

.rm-alias-tooltip__content .rm-page-ref--tag, .rm-alias-tooltip__content span[data-tag=tags],
.rm-alias-tooltip__content .rm-bq {
  font-size: var(--fs-tooltip);
}

.bp3-popover-arrow[style*="top: 69px;"] {
  top: 67px !important;
}

.rm-topbar {
  transition: all ease-in-out 300ms;
}

#zotero-roam-portal .header-bottom {
  margin: min(74px, 10vh) 2.5%;
}

.zotero-roam-cm-option .bp3-menu-item:before {
  margin-top: 4px;
}

:root {
  --font-padding: 4px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  margin-left: 12px;
  margin-right: 12px;
  padding: 5px 8px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding: 5px 8px;
  margin-left: 12px;
  margin-right: 12px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .title {
  margin-left: 18px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  padding: 8px 0 !important;
}

.rm-multibar {
  left: -10.5px;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown a {
  text-decoration: none;
}

#right-sidebar {
  padding-top: 0px;
}

#right-sidebar > .flex-h-box {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-right: 0px !important;
  padding-right: 7px !important;
}

#right-sidebar .rm-sidebar-window {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header .rm-pages-col:last-child {
  border-right: none;
}

.rm-extensions-marketplace .rm-extensions-marketplace-search {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row {
  padding: 7px 16px;
}

.roam-table > table > tbody > tr:nth-child(2) > td:nth-child(1) {
  border-top-left-radius: 5px;
}

.roam-table > table > tbody > tr:nth-child(2) > td:last-child {
  border-top-right-radius: 5px;
}

.roam-table > table > tbody > tr:last-child > td:nth-child(1) {
  border-bottom-left-radius: 5px;
}

.roam-table > table > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 5px;
}

.roam-table > table > tbody > tr > td:first-child {
  border-left: var(--br-main__table);
}

.roam-table > table > tbody > tr:last-child > td {
  border-bottom: var(--br-main__table);
}

.roam-table > table {
  border-collapse: separate;
}

.rm-page-ref--tag,
span[data-tag=tags] {
  padding: 2px 8px;
}

.check-container {
  width: 14px;
  height: 14px;
  top: 1.5px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content > div:nth-child(2) {
  margin-top: 10px;
}

.bp3-control.bp3-checkbox input:checked ~ .bp3-control-indicator::before {
  margin-left: -1px;
  margin-top: -2px;
}

.rm-mentions {
  margin-left: -11px;
  margin-top: 12px;
}

.rm-ref-page-view > div[style="margin-left: 4px;"] {
  margin-left: -9px !important;
}

.rm-zoom-item .rm-bold {
  font-weight: normal;
}

.rm-mentions .rm-title-arrow-wrapper .rm-caret {
  margin-right: 6px;
}

.rm-mentions .rm-title-arrow-wrapper {
  margin-top: 10px;
}

.controls, .rm-block__controls {
  flex: 0 0 44px;
}

/*
:is(span[data-link-uid*="-17"],span[data-link-uid*="-18"],span[data-link-uid*="-19"],span[data-link-uid*="-20"],span[data-link-uid*="-21"]) .rm-page-ref {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

:is(span[data-link-uid*="-17"],span[data-link-uid*="-18"],span[data-link-uid*="-19"],span[data-link-uid*="-20"],span[data-link-uid*="-21"]) .rm-page-ref:before {
    font-family: "Icons16",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--cl-main__date-link);
    content: "\\\e62b";
    padding-right: 4px;
}

.rm-embed-margin-action.rm-open {
    margin-left: -18px;
}

.rm-spacer::before {
    font-family: "Icons16",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "";
}

.rm-spacer svg {
    display: none;
}
*/